{%extends "base.html" %}
{%block content%}

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>LurkerBot for Reddit lurks so you don't have to.</h1>
							</header>
							<div class="inner">
								<p> Give LurkerBot a phrase or phrases to watch for, a subreddit to watch, and your Reddit username, and LurkerBot will send you an alert (via Reddit message) whenever that word or phrase is mentioned.  </p>

							</div>
							<div class="major"><p> Already set up an alert? You can change it or remove it <a href="{{url_for("login")}}?next={{url_for("edit")}}"> here. </a></p>

							</div>
						</div>
					</section>

				<!-- Contact -->
					<section id="new">
						<div class="inner">
							<section>
								<form method="post" action="#">
									<div class="field half first">
										<label for="phrase">Phrase</label>
										<input type="text" name="phrase" id="phrase" />
									</div>
									<div class="field half">
										<label for="subreddit">Subreddit</label>
										<input type="text" name="subreddit" id="subreddit" />
									</div>
									<div class="field half first">
										<label for="username">Reddit username</label>
										<input type="text" name="username" id="username" />
									</div>
									<div class="field half">
										<label for="password">Create a new password</label>
										<input type="text" name="password" id="password" />
									</div>
									<ul class="actions">
										<li><input type="submit" value="Create alert" class="special" /></li>
									</ul>
								</form>
							</section>

{%endblock%}